# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environments
.env
venv/
ENV/
env/
env.bak/
venv.bak/

# Django stuff:
*.sqlite3
db.sqlite3

# Static and media files
/static/
/media/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db