{% extends 'base.html' %}
{% block title %}Your Tasks{% endblock %}
{% block content %}
<div class="logout-section"><a href="{% url 'logout' %}" class="btn btn-secondary mt-1"
        title="Do you want to sign out?">Sign out</a></div>
<div class="header">
    <div class="mb-2 username">
        <h3 class="superusers">Hello, {{ request.user.username }}</h3>
    </div>
    <a href="{% url 'create_task' %}" title="Add a new task">
        <div class="add-icon">
            +
        </div>
</div></a>
<h5 class="count-container">You have <span class="task-count">{{ incomplete_tasks_count }}</span> incomplete tasks.</h5>

{% if tasks %}
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'edit_task' task.id %}" class="text-decoration-none" title="Open the task">
            <span style="text-decoration: {% if task.complete %}line-through{% endif %};">
                <div class="title">{{ task.title }}</div>
            </span>
            <div class="mb-0 description">{{ task.description }}</div>
            <div class="deadline">
                Deadline: {{ task.deadline|date:"M d, Y h:i A" }}
                {% if task.deadline < now %}
                <span class="text-danger ms-2" title="Deadline is past!">❗</span>
                {% endif %}
            </div>
        </a>
        <span>
            <a href="{% url 'delete_task' task.id %}" class="text-danger ms-3" title="Delete the task">❌️</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No pending tasks.</p>
{% endif %}
{% endblock %}